projects/
.DS_Store
notes/assessment-rubrics
notes/project-proposals/*.pdf
notes/voting_projects.md
django-pwa/together/diary/__pycache__/__init__.cpython-38.pyc
django-pwa/together/diary/__pycache__/apps.cpython-38.pyc
django-pwa/together/together/__pycache__/__init__.cpython-38.pyc
django-pwa/together/together/__pycache__/settings.cpython-38.pyc
django-pwa/together/together/__pycache__/urls.cpython-38.pyc
notes/project-proposals/17_System_Concept_Statement.png
notes/project-proposals/17_Workflow.png
